/Carrera Martin Cisternas 1.psc
/Edad de pedro.psc
/ejemplos para ciclos.psc
/Mi primer algoritmo propiO Calculadora
/Practicas
/README.md
/RegistroPuntajes.psc
/saludo real (1).psc
/saludo.psc
/ValidarDescuento.psc